body{
    background-color: rgb(141, 179, 205);
    font: normal 15pt Arial;

}
header{
    color: white;
    text-align: center;
}
section{
    background-color: rgba(255, 255, 255, 0.682);
    border-radius:8px;
    padding: 16px;
    width: 190px;
    height: auto;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.407);
    
}
footer{
    text-align: center;
    font-style: italic;

}
#foto {
    text-align: center; /* Centraliza a imagem horizontalmente */
    margin: 20px auto;  /* Adiciona margem ao redor da imagem */
}

#imagem {
    display: block;      /* Torna a imagem um bloco */
    max-width: 100%;     /* Impede a imagem de ultrapassar o limite do contêiner */
    height: auto;        /* Mantém a proporção da imagem */
}